main{
	width:calc(100% - 330px);
	padding:5px;
	max-width:1800px;
	overflow-y: scroll;
	height: 100vh;
	@media (max-width: 800px) {
		width: 100%;
	}
}

.mainHidden{
	display: none;
}

.booksToDiscover{
	position: relative;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-x: hidden;
	.bookDiv{
		display:flex;
		align-items: center;
		flex-direction: column;
		// min-width:calc(111px * 1.3);
		max-width:calc(50px * 1.7);
		// width: 110px;
		// min-height:calc(148px * 1.3);
		// max-height:calc(148px * 1.7);
		width:auto;
		height:auto;
		// text-align: center;
		color: #3A3A3A;
		margin: 40px;
		@media (max-width: 415px) {
			margin: 20px; 
		}
		.bookIcons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		h3{
			margin:0;
			font-weight: 400;
			width: 110px;
			margin: 10px 0;

		}
		img{
			height: 140px;
			margin:5px;
			box-shadow: 0px 10px 40px 0 rgba(0,0,0,0.35);
		}
	}
	@media (max-width: 415px) {
		justify-content: space-around;
	}
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:0;
	left:0;
	z-index: 200;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0);
	.modalInside{
		background-color: white;
		width:70%;
		height:auto;
		padding:20px;
		box-shadow: 0px 10px 40px 0 rgba(0,0,0,0.35);
		@media (max-width: 800px) {
			width: 85%;
		}
		p{
			@media (max-width: 800px) {
			font-size: 1.2rem;
			}
		}
	}
}

.modalHidden{
	display:none;
}

.userFormHidden {
	display: none;
}

button.chosenBook, .bookDescript {
	background-color: rgba(255,255,255,0);
	border: none;
	color: #578998;
	font-size: 20px;
	&:hover {
		transform: scale(1.1);
		color: #3a3a3a;
	}
}

// .loginModal{
// 	padding:20px; 
// 	z-index: 100;
// 	width:auto;
// 	height:auto;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }