.initStyle{
	width:100vw;
	height:100vh;
	display:flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	background:linear-gradient( to bottom right, #F0C436, #D8C6C6, #7D9BA6); 
	color:white;
	h1{
		font-size: 5rem;
		margin:30px;
	}
	h2{
		font-size: 2.8rem;
		margin:10px;
	}
	.userSearch input{
		text-align: center;
		color:white;
		border:none;
		min-width: 500px;
		width: 80vw;
		background: rgba(0,0,0,0);
		margin:10px;
		font-size: 9rem;
		margin-bottom: 30px;
		@media (max-width: 960px) {
			font-size:3rem;
		}
		::-webkit-input-placeholder{
			color: rgba(255,255,255,.4);
		}
	}
	.userSearch input::-webkit-input-placeholder{
		color: rgba(255,255,255,.4);
	}
	.userSearch input::-moz-placeholder{
		color: rgba(255,255,255,.4);
	}
	label{
		font-size: 1.3rem;
		font-family:"Roboto", sans-serif;
		text-transform: uppercase;
		letter-spacing: 4px;
		border-bottom: 1px solid white;
		padding-bottom: 3px;
	}
	.userSearch input:focus{
		outline: 0;
	}
	.userSearch button {
		color:white;
		background-color: rgba(255,255,255,.3);
		border: 1px solid rgba(255,255,255,0);
		padding: 7px 40px;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: 3px;
		&:hover {
			border: 1px solid white;
		}
	}
	
}


form.user{
		display:flex;
		flex-direction: column;
		flex-wrap:wrap;
		align-items: center;
	
}

.style{
	display:inline-block;
	min-width: 330px;
	width: 30%;
	height:auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #F6C417;
	color:white;
	padding:15px;
	@media (max-width: 800px) {
		width: 100vw;
	}
	@media (max-width: 400px) {
		min-width: 0;
	}
	h1{
		font-size: 4rem;
		margin:0;
	}
	h2{
		font-size: 2.4rem;
		margin:5px;
	}
	form{
		position:relative;
	}
	form input{
		color:white;
		width:250px;
		border:2px solid white;
		padding:5px;
		border-radius: 5px;
		background: rgba(0,0,0,0);
		margin:10px;
		::-webkit-input-placeholder{
			color:white;
		}
		@media (max-width: 400px) {
			width: 80vw;
		}
	}
	form input::-webkit-input-placeholder{
		color:whitesmoke;
	}
	form input::-moz-placeholder{
		color:whitesmoke;
	}
	form input:focus{
		outline: 0;
	}
	form button {
		position: absolute;
		top:33px;
		right:15px;
		color:white;
		background-color: rgba(0,0,0,0);
		border:none;
	}
}

.yourBooksHidden{
	display:none;
}

.yourBooks{
	min-width: 330px;
	width: 30%;
	position:relative;
	background: linear-gradient(180deg, #49646B, #3A3A3A);
	height:calc(100vh - 162px);
	overflow-y: scroll;
	padding: 20px 40px 60px 40px;
	h2{
		font-size: 2.4rem;
		color:white;
		text-align: center;
		margin-bottom:30px;
		margin-top: 20px;
	}
	h4 {
		font-weight: 400;
		margin: 8px 0 8px 0;
		color: whitesmoke;
		@media (max-width: 400px) {
			text-align: center;
		}
	}
	@media (max-width: 800px) {
		width: 100vw;
		min-width: 0;
		height: auto;
	}
	@media (max-width: 400px) {
		padding: 20px;
	}
}
header{
	width:330px;
}

.modalHidden{
	display:none;
}
