@import 'setup';
@import 'global';
@import 'header';
@import 'books';
@import 'footer';

.loader {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	top: 50vh;
	left: 60vw;
	img {
		width: 40px;
	}
}

body.loading .loader {
	display: block;
}